USE [master]
GO
/****** Object:  Database [Book_store]    Script Date: 10/27/2025 12:56:33 PM ******/
CREATE DATABASE [Book_store1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Book_store1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\Book_store1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Book_store1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\Book_store1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Book_store1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Book_store1]
GO
/****** Object:  Table [dbo].[books]    Script Date: 10/27/2025 12:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[author] [nvarchar](100) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[stock] [int] NULL,
	[image] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 10/27/2025 12:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 10/27/2025 12:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[quantity] [int] NULL,
	[price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 10/27/2025 12:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[total_amount] [decimal](10, 2) NULL,
	[status] [nvarchar](20) NULL,
	[order_date] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 10/27/2025 12:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[total_price] [decimal](10, 2) NULL,
	[transaction_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_update_logs]    Script Date: 10/27/2025 12:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_update_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[old_username] [nvarchar](50) NULL,
	[new_username] [nvarchar](50) NULL,
	[old_email] [nvarchar](100) NULL,
	[new_email] [nvarchar](100) NULL,
	[old_role] [nvarchar](20) NULL,
	[new_role] [nvarchar](20) NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 10/27/2025 12:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[email] [nvarchar](100) NULL,
	[role] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[books] ON 

INSERT [dbo].[books] ([id], [category_id], [title], [author], [price], [stock], [image], [created_at], [updated_at]) VALUES (1, 1, N'Nghĩ giàu và làm giàu', N'Napoleon Hill', CAST(100000.00 AS Decimal(10, 2)), 49, N'images/images/NGHĨ_GIÀU_VÀ_LÀM_GIÀU.jpg.jpg', CAST(N'2025-10-23T12:39:41.080' AS DateTime), CAST(N'2025-10-23T21:30:31.720' AS DateTime))
INSERT [dbo].[books] ([id], [category_id], [title], [author], [price], [stock], [image], [created_at], [updated_at]) VALUES (2, 1, N'Cha giàu, cha nghèo', N'Robert T. Kiyosaki', CAST(100000.00 AS Decimal(10, 2)), 50, N'images/images/CHA_GIÀU,_CHA_NGHÈO.jpg.jpg', CAST(N'2025-10-23T12:39:41.080' AS DateTime), CAST(N'2025-10-23T12:39:41.080' AS DateTime))
INSERT [dbo].[books] ([id], [category_id], [title], [author], [price], [stock], [image], [created_at], [updated_at]) VALUES (3, 1, N'Nguyên lý Kinh tế học', N'N. Gregory Mankiw', CAST(117500.00 AS Decimal(10, 2)), 50, N'images/images/NGUYÊN_LÝ_KINH_TẾ_HỌC.jpg.jpg', CAST(N'2025-10-23T12:39:41.080' AS DateTime), CAST(N'2025-10-23T12:39:41.080' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[books] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name], [description]) VALUES (1, N'Sách Kinh tế', N'Sách về kinh tế, quản trị, tài chính, đầu tư và phát triển doanh nghiệp')
INSERT [dbo].[categories] ([id], [name], [description]) VALUES (2, N'Sách Công nghệ - CNTT', N'Sách về công nghệ thông tin, lập trình, mạng máy tính, trí tuệ nhân tạo')
INSERT [dbo].[categories] ([id], [name], [description]) VALUES (3, N'Sách Kỹ năng sống', N'Những cuốn sách giúp phát triển bản thân, kỹ năng giao tiếp và tư duy tích cực')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[order_details] ON 

INSERT [dbo].[order_details] ([id], [order_id], [book_id], [quantity], [price]) VALUES (6, 1, 1, 1, CAST(12000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[order_details] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [user_id], [total_amount], [status], [order_date], [updated_at]) VALUES (1, 1, NULL, N'', CAST(N'2025-10-23T21:30:19.177' AS DateTime), CAST(N'2025-10-23T21:30:19.177' AS DateTime))
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[transactions] ON 

INSERT [dbo].[transactions] ([id], [user_id], [product_id], [quantity], [total_price], [transaction_date]) VALUES (1, 1, 1, 1, CAST(12000.00 AS Decimal(10, 2)), CAST(N'2025-10-23T21:30:31.717' AS DateTime))
SET IDENTITY_INSERT [dbo].[transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password], [email], [role], [created_at]) VALUES (1, N'phatle', N'$2y$10$edtAAbJ3fZHLRMhlew/u5O047rnNW.tEGUCDPgTe6JVgUbqmJ/gdi', N'john@example.com', N'customer', CAST(N'2025-10-23T21:23:56.290' AS DateTime))
INSERT [dbo].[users] ([id], [username], [password], [email], [role], [created_at]) VALUES (2, N'thanh', N'123', N'phat@gmail.com', N'customer', CAST(N'2025-10-24T20:37:37.383' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [idx_books_categoryid]    Script Date: 10/27/2025 12:56:34 PM ******/
CREATE NONCLUSTERED INDEX [idx_books_categoryid] ON [dbo].[books]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_orderdetails_bookid]    Script Date: 10/27/2025 12:56:34 PM ******/
CREATE NONCLUSTERED INDEX [idx_orderdetails_bookid] ON [dbo].[order_details]
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_orders_status_date]    Script Date: 10/27/2025 12:56:34 PM ******/
CREATE NONCLUSTERED INDEX [idx_orders_status_date] ON [dbo].[orders]
(
	[status] ASC,
	[order_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E616431C4309A]    Script Date: 10/27/2025 12:56:34 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC572A22DE34E]    Script Date: 10/27/2025 12:56:34 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_users_username]    Script Date: 10/27/2025 12:56:34 PM ******/
CREATE NONCLUSTERED INDEX [idx_users_username] ON [dbo].[users]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT (getdate()) FOR [transaction_date]
GO
ALTER TABLE [dbo].[user_update_logs] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('customer') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[books] ([id])
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_update_logs]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
/****** Object:  StoredProcedure [dbo].[admin_dashboard_stats]    Script Date: 10/27/2025 12:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-----------------------------------------------------------
-- 📊 PROCEDURE: THỐNG KÊ DASHBOARD ADMIN
-----------------------------------------------------------
CREATE PROCEDURE [dbo].[admin_dashboard_stats]
AS
BEGIN
    SELECT
        (SELECT ISNULL(SUM(total_amount), 0) FROM orders WHERE status = 'completed') AS total_revenue,  -- Tổng doanh thu
        (SELECT COUNT(*) FROM orders WHERE status = 'completed') AS total_completed_orders,             -- Số đơn hoàn tất
        (SELECT ISNULL(SUM(stock), 0) FROM books) AS total_stock,                                       -- Tổng hàng trong kho
        (SELECT ISNULL(SUM(od.quantity), 0)
         FROM order_details od
         JOIN orders o ON o.id = od.order_id
         WHERE o.status = 'completed') AS total_sold_books;                                             -- Tổng sách đã bán
END;
GO
/****** Object:  StoredProcedure [dbo].[admin_revenue_by_date]    Script Date: 10/27/2025 12:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-----------------------------------------------------------
-- 💹 PROCEDURE: DOANH THU THEO NGÀY
-----------------------------------------------------------
CREATE PROCEDURE [dbo].[admin_revenue_by_date]
AS
BEGIN
    SELECT CAST(order_date AS DATE) AS order_day,
           SUM(total_amount) AS revenue
    FROM orders
    WHERE status = 'completed'
    GROUP BY CAST(order_date AS DATE)
    ORDER BY order_day ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[admin_stock_by_category]    Script Date: 10/27/2025 12:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-----------------------------------------------------------
-- 🏷️ PROCEDURE: TỒN KHO THEO DANH MỤC
-----------------------------------------------------------
CREATE PROCEDURE [dbo].[admin_stock_by_category]
AS
BEGIN
    SELECT c.name AS category, SUM(b.stock) AS total_stock
    FROM books b
    JOIN categories c ON b.category_id = c.id
    GROUP BY c.name;
END;
GO
/****** Object:  StoredProcedure [dbo].[login_user]    Script Date: 10/27/2025 12:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-----------------------------------------------------------
-- 🔐 PROCEDURE: ĐĂNG NHẬP NGƯỜI DÙNG
-----------------------------------------------------------
CREATE PROCEDURE [dbo].[login_user]
    @username NVARCHAR(50)
AS
BEGIN
    SELECT role FROM users WHERE username = @username;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCustomerCount]    Script Date: 10/27/2025 12:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-----------------------------------------------------------
-- 👥 PROCEDURE: ĐẾM SỐ LƯỢNG KHÁCH HÀNG
-----------------------------------------------------------
CREATE PROCEDURE [dbo].[sp_GetCustomerCount]
AS
BEGIN
    SELECT COUNT(*) AS total_customers FROM users WHERE role = 'customer';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTopSellingProducts]    Script Date: 10/27/2025 12:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-----------------------------------------------------------
-- 📈 PROCEDURE: TOP SÁCH BÁN CHẠY
-----------------------------------------------------------
CREATE PROCEDURE [dbo].[sp_GetTopSellingProducts]
AS
BEGIN
    SELECT TOP 10 b.title, SUM(od.quantity) AS sold
    FROM order_details od
    JOIN books b ON b.id = od.book_id
    GROUP BY b.title
    ORDER BY sold DESC;
END;
GO
USE [master]
GO
